body {
    background-color: whitesmoke;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
    align-self: start;
  }
  div {
    background-color: rgba(175, 180, 175, 0.822);
    padding: 20px;
    font-family: "Arial";
  }  